*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-image: url("../images/webback1.jpeg");
  background-color: black;
  padding-left: 50px;
  padding-right: 50px;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  padding-top: 10px;
}

.my-header {
  color: #ff9d00;
}

h1 {
  font-family: "Josefin Sans";
  text-align: center;
  font-size: 10vw;
  font-weight: 400;
  padding-top: 20px;
  background-color: slateblue;
  border-radius: 100px;
  padding-bottom: 15px
}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 600px) {}

p {
  color: red;
  font-size: 17px;
  font-family: Chango;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 15px;
}

.grid {
  padding-top: 50px;
}

.item {

  overflow: hidden;
  transition: 0.5s;
  width: 33.33333%;
}

.item:hover {
  transform: scale(1.2);
}

.item img {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 15px;
}

.nav-item {
  font-size: 30px;
  background-color: snow;
  border-radius: 45px;
  color: seagreen;
  text-decoration: none;
  padding: 20px;
  transition: 0.5s;

}

.nav-item:hover {
  transform: scale(1.2);
}