<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Your Website Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
</head>

<body>

    <!-- Your HTML starts here -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Modak&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap" rel="stylesheet">
    <style>

    </style>
    <header class="my-header">
        <h1>TouchDesigner</h1>
        <div class="nav">
            <a class="nav-item" href="/yous/index.html">Home</a>
            <a class="nav-item" href="index.html">About</a>
        </div>
    </header>
    <main>
        <div class="grid">
            {% for item in items %}
            <div class="item">
                <div class="item-inner">
                    <a href="/video/{{loop.index0}}">
                        <img src="{{item['thumbnail']}}" alt="" />
                        <video autoplay loop muted>
                            <source src="{{item['video']}}" type="video/mp4">
                        </video>
                    </a>
                </div>
            </div>
            {% endfor %}

            <div class="item">
                <div class="item-inner">
                    <a href="https://www.pokemon.com/us/pokedex/gengar"><img src="images/webbackgroundgengar.jpeg"
                            alt="" /></a>
                </div>
            </div>
            <div class="item">
                <div class="item-inner">
                    <a href="https://www.leonardoda-vinci.org/"><img src="images/monalisa.jpeg" alt="" /></a>
                </div>
            </div>
            <div class="item">
                <div class="item-inner">
                    <img src="images/Mai, Shu Ru. Still Life Hunger Games Pear Green Table.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="item-inner">
                    <img src="images/Mai, Shu Ru. Still Life Hunger Games Pear Green Table.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="item-inner">
                    <img src="images/Mai, Shu Ru. Still Life Hunger Games Pear Green Table.jpg" alt="" />
                </div>
            </div>
    </main>
    <footer>Copyright 2021</footer>
    <!-- Your HTML ends here -->
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <script src="js/site.js"></script>
</body>


</html>