*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-image: url("../images/webback1.jpeg");
  background-color: black;
  padding-left: 50px;
  padding-right: 50px;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  padding-top: 10px;
}

.my-header {
  color: #ff9d00;
}

h1 {
  font-family: "Josefin Sans";
  text-align: center;
  font-size: 150px;
  font-weight: 400;
  padding-top: 20px;
  background-color: slateblue;
  border-radius: 100px;

}

p {
  color: red;
  font-size: 17px;
  font-family: Chango;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 15px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding-top: 50px;
}

.item {
  border-radius: 50px;
  overflow: hidden;
  transition: 0.5s;

}

.item:hover {
  transform: scale(120%);
}