*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  /* background-image: url("../images/webback1.jpeg"); */
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}

header {
  padding-top: 10px;
}

.my-header {
  color: rgb(121, 116, 116);
}

h1 {
  font-family: "JetBrains Mono";
  text-align: center;
  font-size: 7vw;
  font-weight: 400;
  padding-top: 20px;
  border-radius: 100px;
  padding-bottom: 15px;
  animation-duration: 2.5s;
  animation-name: fadeinTitle;
}

@keyframes fadeinTitle {
  0% {
    opacity: 0;
    transform: translate3d(0, 30vw, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 600px) {}

p {
  color: red;
  font-size: 17px;
  font-family: "JetBrains Mono";
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 15px;
}

.grid {
  padding-top: 50px;
  transform-style: preserve-3d;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-name: fadeinGrid;
  animation-fill-mode: backwards;
}

@keyframes fadeinGrid {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.item {
  overflow: hidden;
  padding: 40px;
  transition: 0.5s;
  width: 33.33333%;
  border-radius: 70px;
  z-index: 1;
  transform: translate3d(0, 0, 0px) scale(1);
}

.item:hover {
  transform: translate3d(0, 0, 100px) scale(1.2);
}

.item img {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 15px;
}

.nav-item {
  font-size: 30px;
  transition: 1s;
  font-family: "JetBrains Mono";
  border-radius: 45px;
  color: #919191;
  text-decoration: none;
  padding: 20px;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
  animation-name: fadeinGrid;


}

.nav-item:hover {
  transform: scale(1.2);
}