<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Amy Kent - About</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/reset.css" type="text/css" />
  <link rel="stylesheet" href="css/styles.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Nova+Mono&display=swap" rel="stylesheet">
  <link href="//db.onlinewebfonts.com/c/15c14edcc44ce5f6b601206439e7eba2?family=Janna+LT" rel="stylesheet"
    type="text/css" />
</head>

<body>
  <!-- Your HTML starts here -->
  {% include 'nav.html' %}
  <main>
    <div class="row"></div>
    <h2 class="about-me">About Me</h2>
    <div class="about-page">

      <img src="images/amy-headshot.jpg" class="about-photo">
      {% for text in textes %}
      <p> {{text}} </p>
      {% endfor %}

    </div>
  </main>
  <footer>Copyright 2021</footer>
  <!-- Your HTML ends here -->
</body>

</html>