<!DOCTYPE !html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Amy Kent - Home</title>
    <link rel="stylesheet" href="css/reset.css" type="text/css" />
    <link rel="stylesheet" href="css/styles.css" type="text/css" />

</head>


<body>
    {% for item in items %}
    {% include 'item.html' %}
    {% endfor %}
    <header class="my-header">
        <nav class="nav">
            <link href="//db.onlinewebfonts.com/c/15c14edcc44ce5f6b601206439e7eba2?family=Janna+LT" rel="stylesheet"
                type="text/css" />
            <a href="/haley/index.html" class="nav-link nav-button">HOME</a>
            <a href="/haley/about.html" class="nav-link nav-button">ABOUT ME</a>
        </nav>
        <img src="images/amy-handlettering.png" class="name">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap" rel="stylesheet">
    </header>

    <main>
        <img src="images/Gomez Talbot, Amelie.jpg" class="pink-building">
    </main>


    <footer>Copyright 2021</footer>
    <!-- Your HTML ends here -->
</body>

</html>