*,
*:before,
*:after {
  box-sizing: border-box;
}

.tabs {
  color: white;
  border-color: black;
  padding: 10px;
  border-right: 2px black solid;
  border-left: 2px black solid;
}

.sub-tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: black 2px solid;
  border-bottom: black 2px solid;
}

.card {
  background-color: coral;
  padding: 1.5%;
  margin-left: 2%;
  margin-right: 2%;
}

.card-2 {
  margin: 2%;
  margin-right: 5%;
  margin-left: 5%;
  padding: 2%;
  background-color: rgb(60, 60, 134);
  border-radius: 15px;
}

.user-info {
  border: 1px black solid;
  background-color: coral;
  padding: 2%;
  font-size: 25px;
}

.content-box {
  color: rgb(182, 182, 182);

}

.line {
  border: 1px black solid;
  margin-top: 15px;
  margin-bottom: 10px;

}

img {
  max-width: 175px;
  height: auto;
  border-radius: 50%;
  border: 10px black solid;

}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-between;
}

.user-info-text {
  border-bottom: 2px black solid;
  margin-bottom: 25px;
  padding: 2%;

}

.bio {
  border-top: 2xp black solid;
  padding: 2px;
}

.box {
  flex-direction: column;
}

@media (min-width: 655px) {

  .user-info {

    font-size: 35px;
  }

  img {
    max-width: 300px;
  }

  .user-content {
    font-size: 30px;
  }


}

body {
  font-family: "Comic Neue";
}