<head>
    <meta charset="UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">

</head>

<body class="page_bg">
    {% for nav in nav %}
    {% include 'nav.html' %}
    {% endfor %}


    <div class="box-title">
        <div class="trending-edit">
            <h1 class="text">Trending </h1>
        </div>
    </div>
    <div class="content">
        {% for box in content_box %}
        {% include 'homepage/box.html' %}
        {% endfor %}

    </div>
    </div>
    <div class="box-title ">

        <h1 class="text"> Recomended </h1>
    </div>
    </div>
    <div class="content">
        {% for box in content_box %}
        {% include 'homepage/box.html' %}
        {% endfor %}
    </div>
    <div class="box-title">
        <h1>Visit Again</h1>
    </div>

    <div class="content">
        {% for box in content_box %}
        {% include 'homepage/box.html' %}
        {% endfor %}

    </div>
    </div>
</body>