<div>
    <h2>{{nav['title']}}</h2>
    <div class="parent-div">
        <div class="card">
            <div class="sub-tab">
                <div class="tabs">
                    <h1> <a href="/">home</a> </h1>
                </div>
                <div class="tabs">
                    <h2> <a href="/profile"> user</a></h2>
                </div>
                <div class="tabs">
                    <h3>support</h3>
                </div>
                <div class="tabs">
                    <h4>menu</h4>
                </div>
            </div>

        </div>