*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  background-color: #fff2c2;
}

.flaxbg {
  background-color: #eedc82;
}

.creambg {
  background-color: #fff2af;
}

h1 {
  text-align: center;
  font-size: 90px;
  font-family: Overpass;
}

a {
  font-size: 26px;
  font-family: Georama;
  font-weight: 900;
  text-align: center;
  margin: 0px 40px 0px 40px;
  text-decoration: none;
  margin-bottom: 25px;
}

.navlinkborder {
  border-radius: 30px;
  border-style: solid;
  border-color: brown;
  border-width: 10px;
  padding: 8px 18px 8px 18px;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

main {
  margin: 0% 8% 0% 8%;
  display: flex;
  gap: 8%;
}

.aboutbox {
  font-family: Georama;
  color: black;
  padding: 30px 40px 40px 40px;
  border-style: solid;
  border-color: goldenrod;
  border-width: 18px;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-family: Overpass;
}

p {
  font-size: 20px;
}

.imgborder {
  width: 400px;
  border-radius: 50%;
  border-style: solid;
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-width: 10px;
}

footer {
  text-align: center;
}