*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  background-color: #d3d3d3;
}

body {
  font-size: 16px;
}

.my-header {
  color: black;
  margin-bottom: 55px;
}

h1 {
  text-align: center;
  font-size: 76px;
  font-family: Overpass;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

p {
  font-size: 26px;
  font-family: Georama;
  padding: 25px
}

img {
  width: 500x;
  height: 395px;
  border-width: 12px;
  border-color: brown;
  border-style: solid;
  padding: 25px
}

.item {
  margin-left: 3%;
  margin-right: 3%;
  border-width: 20px;
  border-style: solid;
  border-color: brown;
  border-radius: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.itemtwo {
  margin-left: 3%;
  margin-right: 3%;
  border-width: 20px;
  border-style: solid;
  border-color: brown;
  border-radius: 70px;
  padding: 4%;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
}

footer {
  text-align: center;
}