<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Portfolio Website/Explore Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/reset.css" type="text/css" />
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
  </head>

  <body class="background-explore">
   <div class="box-2">
      <div class="gallery">
        <img src="images/ocean.jpg" alt="ocean img" />
        <img src="images/tan.jpg" alt="tan img" />
        <img src="images/city.jpg" alt="city img" />
        <img src="images/human.jpg" alt="human img" />
        <img src="images/portrait.jpg" alt="portrait img" />
        <img src="images/purple.jpg" alt="purple img" />
        <img src="images/supplies.jpg" alt="supplies img" />
        <img src="images/ribbon.jpg" alt="ribbon img" />
        <img src="images/black.jpg" alt="black img" />
        <img src="images/drums.jpg" alt="drums img" />
  </body>
</html>
