<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Homepage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/reset.css" type="text/css" />
  <link rel="stylesheet" href="/css/styles.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>

<body>
  <header class="Homepage">
    <div class="header">
      <div class="main-components">
        <div class="main-title">
          <h1>Painting Studio 2021</h1>
        </div>
        <div class="main-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sem quam, elementum quis felis sit amet,
            gravida
            ullamcorper leo. Morbi id odio nec libero feugiat auctor. Etiam sollicitudin ultricies magna vulputate
            pulvinar.
            Integer gravida eros sit amet consequat placerat. Curabitur faucibus, metus id gravida dictum, mi tortor
            euismod
            libero, a laoreet mauris quam non erat. Nullam molestie ex accumsan neque blandit, et finibus dui convallis.
            Proin
            ullamcorper lacus sit amet erat mollis, vel aliquet mi rutrum. Etiam laoreet aliquam arcu et rutrum.
            Pellentesque
            posuere pulvinar enim, nec ornare orci. Suspendisse vestibulum mi ante, a congue lacus euismod ac. Cras
            sagittis
            eleifend diam sed blandit. Etiam tempor justo urna. Pellentesque euismod placerat purus, nec aliquam massa
            ullamcorper nec. Morbi magna nisl, fermentum suscipit eros et, elementum tincidunt nulla. In ligula massa,
            rhoncus
            quis enim eget, varius egestas nunc.</p>
        </div>
        <div class="halloween-feature">
          <a href="/halloween/index.html">
            <div class="pumpkin">
              <img src="/images/Spooky pumpkin .png">
            </div>
          </a>
        </div>
      </div>

  </header>
  <div class="employees">
    <ul>
      <div class="employees-links" style="background-image: linear-gradient(to right, white, pink);">
        <div class="employees-links-text">
          <a href="/portfolio/index.html">Manuel D. Kirts</a>
        </div>
        <div class="employees-link-img">
          <img src="/images/Manuel D. Kirts.jpeg">
        </div>
      </div>
      <div class="employees-links" style="background-image: linear-gradient(to left, white, pink);">
        <div class="employees-link-img">
          <img src="/images/William C. Yu.jpeg">
        </div>
        <div class="employees-links-text">
          <a href="url">William C. Yu</a>
        </div>
      </div>
      <div class="employees-links" style="background-image: linear-gradient(to right, white, pink);">
        <div class="employees-links-text">
          <a href="url">Amie C. Gram</a>
        </div>
        <div class="employees-link-img">
          <img src="/images/Amie C. Gram .jpeg">
        </div>
      </div>
      <div class="employees-links" style="background-image: linear-gradient(to left, white, pink);">
        <div class="employees-link-img">
          <img src="/images/Leonard B. Andrews .jpeg">
        </div>
        <div class="employees-links-text">
          <a href="url">Chris Peanuts</a>
        </div>
      </div>
      <div class="employees-links" style="background-image: linear-gradient(to right, white, pink);">
        <div class="employees-links-text">
          <a href="url">Orville M. Bober</a>
        </div>
        <div class="employees-link-img">
          <img src="/images/Orville M. Bober .jpeg">
        </div>
      </div>
      <div class="employees-links" style="background-image: linear-gradient(to left, white, pink);">
        <div class="employees-link-img">
          <img src="/images/Jose H. Schaffer .jpeg">
        </div>
        <div class="employees-links-text">
          <a href="url">Jose H. Schaffer</a>
        </div>
      </div>
    </ul>
  </div>
  <div class="copyright-edit">
    <footer>Copyright 2021</footer>
    <div class="footer-text">
      <div>
        <h1>Projected by</h1>
      </div>
      <div>
        <a href="https://creativetechnology.afhboston.org/">Creative technology</a>
      </div>
      <div>
        <h2>from AFH</h2>
      </div>
    </div>
  </div>
</body>

</html>