<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>

<body>
    <div class="back-to-homepage">
        <a href="/">
            <h1>BACK TO HOMEPAGE</h1>
        </a>
    </div>
    {% include "peoplelist.html"%}
    <div class="copyright-edit">
        <footer>Copyright 2021</footer>
        <div class="footer-text">
            <div>
                <h1>Projected by</h1>
            </div>
            <div>
                <a href="https://creativetechnology.afhboston.org/">Creative technology</a>
            </div>
            <div>
                <h2>from AFH</h2>
            </div>
        </div>
    </div>
</body>

</html>