<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>PORFOTLIO-STEPHANIE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/reset.css" type="text/css" />
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
</head>

<body>
    {% include 'nav.html' %}
    <!-- Your HTML starts here -->
    <main>
        <div class="commission-title">commission</div>
        <form>
            <label for="fname">Name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Request:</label><br>
            <input type="text" id="lname" name="lname">
        </form>
    </main>
    <footer>Copyright 2021</footer>
    <!-- Your HTML ends here -->
</body>

</html>