<nav class="nav-buttons">
    <ul>
        <li class="nav-button">
            <a href="/">home</a>
            <span></span><span></span><span></span><span></span>
        </li>
        <li class="nav-button">
            <a href="/gallery">products</a>
            <span></span><span></span><span></span><span></span>
        </li>
        <li class="nav-button">
            <a href="/commission">services</a>
            <span></span><span></span><span></span><span></span>
        </li>
        <li class="nav-button">
            <a href="/gallery">contacts</a>
            <span></span><span></span><span></span><span></span>
        </li>
    </ul>
</nav>