*,
*:after,
*:before {
  box-sizing: border-box;
}

.img {
  max-width: 100%;
  height: auto;
}

.card {
  background-color: coral;
  padding: 1.5%;
  margin-left: 2%;
  margin-right: 2%;

}

.tabs {
  color: white;
  border-color: black;
  border-bottom: 1px;
  border-top: 1px;
  padding: 10px;
  border-right: 1px black solid;
  border-left: 1px black solid;
  font-weight: 900;
}

.sub-tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
}

.content {
  border: 2px solid black;
  margin-top: 3%;
  padding: 2%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-around;
  background-color: whitesmoke;
}

.box {
  border: 1px;
  border-style: solid;
  margin-left: 3%;
  margin-right: 3%;

}

.box-text {
  padding-left: 3%;
  padding-right: 3%;
}

img {
  max-width: 150px;
}

body {
  font-family: "Comic Neue";
}

.about-user {
  background-color: whitesmoke;
  border: 1px solid black;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: space-evenly;
}

.user-content-box {
  margin-right: 5%;
  background-color: whitesmoke;
  margin-left: 5%;
  margin-top: 2%;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}

.box-title {
  color: white;
  background-color: coral;
  padding: 1%;
  border: 1px solid black;
  margin-right: 4%;
  margin-left: 4%;
  margin-top: 5%;

}

.pfp {
  border: 5px solid black;
  border-radius: 50%;
  margin: 2%;
  text-align: center;
}

.bio {
  margin: 2%;
}

.user-content {
  margin: 2%;
}

body {
  background-color: rgb(70, 70, 70);
}

.line {
  border: 1px solid #cccc;
  margin-left: 2%;
  margin-right: 2%;
}