*,
*:before,
*:after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "compass/css3";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

body {
  height: 100%;
  font-size: 16px;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.bg-transition {
  background: none;
  transition: all 1s ease-in;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: transparent;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
}


.message-box {
  --width: 80%;
  margin: auto;
  width: var(--width);
  left: calc(50% - var(--width) / 2);
  background-color: rgb(238, 174, 202);
  padding: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  margin-top: 100px;
  margin-bottom: 100px;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.exit-button {
  padding: 10px;
  font-weight: bold;
  background-color: rgb(246, 48, 48);
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.message-title {
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
  font-weight: bold;
  padding: 5px;
  text-transform: uppercase;
}

.text-box {
  position: relative;
  margin: auto;
  width: 90%;
  background-color: rgba(148, 187, 233, 1);
  padding: 50px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  padding: 20px;
}

.typewriter h1 {
  font-size: 80px;
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 20% auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: white
  }
}

img {
  margin: auto;
  margin-left: 500px;
  padding-top: 200px;
  height: auto;
  width: 50%;
  border-color: lightblue;
}

.slide {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.red-bg {
  background-color: black;
}

.green-bg {
  background-color: rgb(141, 183, 218);
}

.blue-bg {
  background-color: pink;
}

.gallery-h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.progress-bar {
  /*position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  */

  --width: 80%;
  margin: auto;
  width: var(--width);
  left: calc(50% - var(--width) / 2);

  padding: 10px;

  margin-top: 100px;
  margin-bottom: 100px;
}



.skills {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.skills-bar {
  padding: 25px 30px;
}

.skills-bar .bar {
  margin: 25px 0;
}

.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
  color: #07374a;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 550px;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  ;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .html {
  width: 80%;
}

.progress-line .css {
  width: 70%;
}

.progress-line .bootstrap {
  width: 82%;
}

.progress-line .javascript {
  width: 62%;
}

.progress-line .c {
  width: 90%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -14px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #07374a;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 700;
  background: #07374a;
  padding: 1px 8px;
  border-radius: 3px;
}


.progress-line .html::after {
  content: "80%";
}

.progress-line .css::after {
  content: "70%";
}

.progress-line .bootstrap::after {
  content: "82%";
}

.progress-line .javascript::after {
  content: "62%";
}

.progress-line .c::after {
  content: "90%";
}

/* ////........Media Query........//// */

@media (max-width: 700px) {
  .skills {
    width: 80%;
  }

  .skills-bar .bar .progress-line {
    width: 100%;
  }
}



.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  width: 70%;
  vertical-align: middle;
}

.progress-text {
  vertical-align: middle;
}


nav {
  margin: 0;


}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav ul li {
  --c: white;
  color: var(--c);
  font-size: 16px;
  border: 0.3em solid var(--c);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}

nav ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

nav ul li:hover {
  color: black;
}

nav ul li:hover span {
  transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
  --n: 1;
}

nav ul li span:nth-child(2) {
  --n: 2;
}

nav ul li span:nth-child(3) {
  --n: 3;
}

nav ul li span:nth-child(4) {
  --n: 4;
}




/*h1 {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  line-height: 0.8;
  transition: 0.5s;
  transform-origin: 0% 50%;
  padding-top: 70px;
}

h1:hover {
  transform: scale(110%);
}

.name {
  color: coral
}

img {
  height: auto;
  width: 100%;
  border-color: lightblue;
}


.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
}

.section {
  width: 50%;
  text-align: center;
}

.headshot {
  border-width: 10px;
  border-color: black;
  padding: 10px;
}

.gallery-title {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  line-height: 0.8;
  transition: 0.5s;
  transform-origin: 0% 50%;
  text-align: center;
  padding: 30px;
}

.gallery-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
}

.gallery-image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-fit: cover;
  padding: 10px;
  margin-left: 40px;
}

.commission-title {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  line-height: 0.8;
  transition: 0.5s;
  transform-origin: 0% 50%;
  text-align: center;
  padding: 30px;
  text-transform: capitalize;
}

form {
  margin: auto;
  width: 50%;

}

label {
  flex-direction: column;
  align-items: center;
}


h2 {
  padding: 10px;
  background-color: coral;
  border-radius: 25px;
  align-self: center;
  margin: auto;
  width: 85%;
  transition: 0.5s;
  transform-origin: 50% 50%;
}

h2:hover {
  transform: scale(110%);
}

.slide_menu {
  position: absolute;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  background-color: coral;
  border-radius: 25px;
  align-self: center;
  width: 85%;
  transition: 0.5s;
  transform-origin: 50% 50%;
  top: 0;
  right: 0;
  transform: translateX(100%);
}

.slide_menu[data-open="true"] {
  transform: translateX(0%);
}

.slide_menu_container {
  position: relative;
}

.slide_menu_button {
  position: absolute;
  right: 100%;
  width: 60px;
}
*/