<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/reset.css" type="text/css" />
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap" rel="stylesheet">
</head>


<body>
    <!-- Your HTML starts here -->

    {% with title="Home" %}
    {% include 'nav.html' %}
    {% endwith %}
    <main>
        <div class="creambg aboutbox">
            <h2>About Jane Doe</h2>
            <br>
            <p class="p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Enim sit amet venenatis urna cursus eget nunc scelerisque viverra.
                Viverra tellus
                in hac habitasse platea dictumst vestibulum rhoncus est. Enim praesent elementum facilisis leo vel
                fringilla.
                Lectus vestibulum mattis ullamcorper velit sed ullamcorper. Neque viverra justo nec ultrices dui sapien
                eget mi
                proin. Morbi enim nunc faucibus a pellentesque sit amet porttitor eget. Nunc non blandit massa enim nec.
                Tristique
                senectus et netus et malesuada fames ac. Luctus accumsan tortor posuere ac ut consequat. Aliquet
                porttitor lacus
                luctus accumsan tortor posuere ac. Semper feugiat nibh sed pulvinar proin gravida hendrerit. Vitae nunc
                sed
                velit
                dignissim sodales ut eu sem. Mattis molestie a iaculis at erat pellentesque adipiscing. Suscipit tellus
                mauris a
                diam maecenas sed enim ut. Nulla aliquet porttitor lacus luctus accumsan. Nulla facilisi etiam dignissim
                diam.
                Ut
                faucibus pulvinar elementum integer enim neque volutpat ac. Aliquam vestibulum morbi blandit cursus
                risus at
                ultrices mi tempus. Odio facilisis mauris sit amet massa vitae.</p>
        </div>
        <img class="imgborder" src="images/jane doe.png" alt="" />
    </main>

    <br><br>
    <footer>Copyright 2021</footer>
    <!-- Your HTML ends here -->
</body>

</html>